{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1>Про нашу компанію</h1>
        <p class="lead">Ми - сучасний інтернет-магазин, який пропонує широкий асортимент якісних товарів.</p>
        
        <h3>Наша місія</h3>
        <p>Ми прагнемо робити якісні товари доступними для кожного, забезпечуючи високий рівень обслуговування клієнтів.</p>
        
        <h3>Наші переваги</h3>
        <ul>
            <li>Швидка доставка по всій Україні</li>
            <li>Гарантія якості на всі товари</li>
            <li>Професійна підтримка</li>
            <li>Гнучкі умови оплати</li>
        </ul>
        
        <div class="mt-4">
            <a href="{% url 'contacts' %}" class="btn btn-primary">Наші контакти</a>
            <a href="{% url 'product_list' %}" class="btn btn-outline-secondary">Перейти до каталогу</a>
        </div>
    </div>
</div>
{% endblock %}
